NetBeans/ConvertPDF/src/conf/xml-resources/web-service-references/EdssService/wsdl/v-ibank-gate_9080/ws/edss/EdssService/EdssService_schema2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.athena.ru/edss/common" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.athena.ru/edss/common">

  <xs:element name="fault" nillable="true" type="tns:AppFault"></xs:element>

  <xs:complexType name="AppFault">
    <xs:sequence>
      <xs:element name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>